@import "tailwindcss";

body {
  background: var(--background);
  color: var(--text);
  border-color: var(--border);
}


@theme {
  --color-background: var(--background);
  --color-border: var(--border);
  --color-text: var(--text);
  --color-secondary: var(--secondary);
}

:root {
  --background: #ffffff;
  --text: #3f3f46;
  --border: #000000;
  --secondary: #71717a;
}

.dark {
  --background: #09090b;
  --text: #ffffff;
  --border: #ffffff;
  --secondary: #71717a;
}


@layer utilities {

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

.tech {
  padding: 4px 10px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: 10px;
}


::view-transition-group(root) {
  animation-duration: 1.5s;
}

::view-transition-new(root) {
  animation: circle-in 1500ms;
}

@keyframes move-in {
  from {
    translate: 0 -100%;
  }

  to {
    translate: 0 0;
  }
}

* {
  /* border:0.5px dashed lime; */

}

::selection {
  background: #ffe600;
  color: black;
  text-shadow: none;
}


.article{
  margin:24px;  
}
.article-head-secondary{
  font-size: 42px;
  margin: 24px 0px;
  font-weight: 500;
}
.article-para{
  font-size:24px;
  margin: 36px 0;
}
@keyframes circle-in {
  from {
    clip-path: circle(0% at 50% 0%);
  }

  to {
    clip-path: circle(130% at 50% 0%);
  }
}

@media (max-width: 768px) {
  body {
    padding: 25px;
  }
}

@media (max-width: 1024px) {
  body {

    padding: 20px;
  }

}

.navbarFloat {
  padding: 5px 0px;
}